* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #080808;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url("/src/Components/Image/home.png");
  background-size: cover;
  background-position: center;
  padding: 10px 10%;
}

.home .home-container .home-text {
  margin-top: 200px;
}

.home .home-container .home-text h1 {
  font-size: 50px;
  color: #fff;
  margin-top: 20px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
}

.home .home-container .home-text span {
  color: #0000ff;
}

.home .home-container .home-text p {
  color: #fff;
  font-size: 24px;
  font-weight: lighter;
  margin: 0;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

/*---KEYFRAMES ANIMATION*/

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translatex(-100px);
  }

  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translatex(100px);
  }

  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

@media (max-width: 1000px) {
  .home .home-container .home-text {
    margin-top: 300px;
  }
  .home .home-container .home-text h1 {
    font-size: 45px;
  }
}

@media (max-width: 900px) {
  .home .home-container .home-text h1 {
    font-size: 40px;
  }

  .home .home-container .home-text p {
    font-size: 20px;
  }
}

@media (max-width: 760px) {
  .home .home-container .home-text h1 {
    font-size: 35px;
  }

  .home .home-container .home-text p {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .home .home-container .home-text h1 {
    font-size: 30px;
  }

  .home .home-container .home-text p {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .home .home-container .home-text h1 {
    font-size: 26px;
  }

  .home .home-container .home-text p {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .home .home-container .home-text h1 {
    font-size: 24px;
  }

  .home .home-container .home-text p {
    font-size: 14px;
  }
}
